@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@import "@fontsource/inter";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700;800&display=swap');

@theme {
  --font-inter: 'Inter', sans-serif;
  --font-dmsans: 'DM Sans', sans-serif;
}

body {
  font-family: var(--font-inter);
}

h1 {
  font-family: var(--font-dmsans);
}